.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  main{
    margin: 0 160px 0 160px;
  }
  
 body{
    background-color: rgba(241, 241, 243, 1);
  }


/* nav styles */
  .nav-container{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
  }

  .nav-tittle{
    font-size: 32px;
    font-weight: bold;
  }

  .nav-btn{
    color: rgba(0, 106, 80, 1);
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    border-style: solid;
    border-color: rgba(0, 106, 80, 1);
  }

.font{
    display: flex;
    gap: 64px;
    padding: 80px 59.99px 80px 59.99px;
    border-radius: 10px;
    justify-content: space-between; 
    margin-bottom: 80px;
}


.font-title{
    color: rgba(14, 14, 14, 0.5);
}

.font-description{
    font-size: 56px;
    font-weight: bold;
}


/* Shared styles */
.btn-primary1{
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 17px 34px 17px 34px;
}

.btn-primary2{
    padding: 11px 20px 11px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.align{
    text-align: center;
}

.title{
    font-size: 40px;
    font-weight: bold;
}

.description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.secondary-bg{
    background-color: rgba(198, 228, 214, 1);
}

/* pillars styles */
.pillars-title{
    margin-bottom: 32px;
}

.card-items{
    display: flex;
    gap: 24px;
}

.card-item{
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
}

.card-title{
    font-size: 18px;
    font-weight: bold;
}


.pillars-of-BD{
    margin-bottom: 80px;
}


/* Vision styles */
.The-Vision{
    margin-bottom: 80px;
}

.vision-title{
    padding-bottom: 24px;
}

.learn{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.learn-source{
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#c1{
    background-color: rgba(84, 144, 245, 0.2);
}

#c2{
    background-color: rgba(198, 228, 214, 1);
}

#c3{
    background-color: rgba(247, 235, 207, 1);
}

#c11{
   background-color: rgba(84, 144, 245, 1); 
}

#c22{
    background-color: rgba(9, 161, 92, 1);
}

#c33{
    background-color: rgba(255, 194, 57, 1);
}

.Dr{
    
    padding: 48px 24px 48px 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
}

.pos{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}


/* Table styles */
.Your-Opinion{
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 1);
    padding: 32px;
    border-radius: 10px;
}

.table-head {
    padding: 24px 24px 24px 24px;
    text-align: left;
}

.opinion{
    padding: 36.5px 0px 36.5px 24px;
    width: 100%;
}

.option-bar{
    margin: 24px 24px 24px 24px;
    text-align: left;
    padding: 12.6px;
    border-radius: 5px;

}

/* Banner styles */
.News{
    margin-bottom: 80px;
}

.banner{
    display: flex;
    gap: 32px;
    padding: 48px;
    border-radius: 10px;
    margin-top: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
}

#img{
    border-radius: 24px;
    
}

.report{
    display: flex;
    gap: 12px;
}


/* Donate styles */
.ammout , .setup{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    padding: 0px 104.5px;
    justify-content: space-around;
    margin-bottom: 32px;

}

.choice{
    padding: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    border: none;
}
#bg-color{
    background-color: rgba(198, 228, 214, 1);
}


#set{
    padding: 20px 422.5px;
    border: none;
}

.middle{
    text-align: center;
}